<div class=marginalia>
1140&nbsp;<span style="font-variant: small-caps; font-size: 0.8em">CE</span>, though <A href="http://www.pitt.edu/~dash/legend493.html">caveat lector</A>.
</div>
<blockquote>
 When the Emperor Conrad III dictated the terms of surrender to Weinsberg, whose resistance had been fomented by his rival for the empire, he specified that only the women should be allowed to come out of the city with whatever they could carry away on their backs; whereupon the pious women of Weinsberg came out carrying their children, husbands and fathers. The victorious emperor stood before the city gate, in the very moment of triumph which is naturally tempting to insolence, and yet restrained his anger (which is terrifying in the great and must be most ominous when caused by impediments to acquiring or retaining their sovereignty). While the army under his command stood by with swords drawn and lances in rest, prepared to slaughter the men of Weinsberg, he looked on and permitted all to pass safely by him whom he had intended to put to the sword. <BR />

<span class=caption>
<cite><span class=author>Giambattista Vico</span> 
<span class=date>(1725)</span> 
<span class=location>The New Science. Cornell, 1968 ed., p.359</span>.</cite>
</span>
</blockquote>





