<div class=marginalia>
</div>
<blockquote>
Mr. Robinson believed in child labor and his election speeches were invariably on this subject. He thought that any law that raised the school-leaving age to fourteen would be "inhuman." He was ready to be prosecuted "a thousand times," he was ready to go to jail, rather than stop giving work to the children of the poor. <BR />

<span class=caption>
<cite><span class=author>V.S.Naipaul</span> 
<span class=date>(1984)</span> 
<span class=location>Finding the Center. New York:Knopf, p.65.</span></cite>
</span>
</blockquote>





