
<blockquote>
From time to time most of us feel a need, 
often urgent and imperious, to talk about ourselves. We desire to assert our personalities, 
to insist on a fact which the world about us seems in danger of forgetting &ndash; the fact that 
we exist, that we are we. In some people 
the desire is so chronic and so strong, that 
they can never stop talking about themselves. 
Rather than be silent, they will pour out the 
most humiliating and discreditable confidences. 
<br/>

<span class=caption>
<cite>
<span class=author>Aldous Huxley</span> 
<span class=date>(1926)</span> 
<span class=title>Two or Three Graces</span>, reprinted in <span class=title>Twice Seven</span> <span class=date>(1932)</span>, p243.</cite> 
</span>
</cite>
</span>
</blockquote>

