
<blockquote>
A young woman found guilty of conspiring in intrigues against the queen, Jeanne de la Motte was sentenced to be whipped, branded (with a V on each shoulder for voleuse [thief]) and imprisoned for life.  She did not know this at the time as French prisoners were only told their fate immediately prior to the sentence being carried out (with the exception of the death penalty).  Minor punishments such as beatings, whippings and branding were normally carried out by executioners' aids but due to her high status, Jeanne's punishment was undertaken by the chief executioner of France.  In order to maintain court dignity the sentence was scheduled for six o'clock in the morning June 21st 1786 in the courtyard of the Palace de Justice.
At five o'clock Jeanne was removed from her cell and taken to Parlement to hear her sentence pronounced.  Haughty and scornful at first she refused to kneel whilst she heard her sentence as was customary but started screaming and thrashing about when she learned of her sentence.  She had to be restrained and physically tied up and carried down to the courtyard where a scaffold had been erected.  Despite the early hour, a crowd of hundreds had gathered, for whippings of women were extremely popular entertainment.  On seeing the scaffold, whips and braziers, Jeanne continued to thrash about and it took some time to remove her clothes.  With much effort she was finally stripped of her attire and forced down upon her stomach whilst the executioner administered the beating.
<br/><br/>
Her whole body was revealed - her superb body, so exquisitely proportioned.  At the flash of those white thighs and breasts, the rabble broke the stunned silence with cat-calls, whistles and obscenities.  The prisoner, after her whippings, slipped from his grasp - the executioner, branding iron in hand, had to follow her as she writhed and rolled across the courtyard to the very foot of the grand staircase...
<br/><br/>
The delicate flesh sizzled under the red-hot iron.  A light bluish vapor floated about her loosened hair.  At that moment her entire body was seized with a convulsion so violent that the second letter V was applied not to her shoulder but her breast, on her beautiful breast.
<br/><br/>
Madame de la Motte's tortured body writhed in one last tremendous convulsive movement.  Somehow she had the strength to turn and bite the executioner's shoulder.  Then she fainted.  She was taken to Salpetriere prison (from which she later excaped).
<br />

<span class=caption>
<cite>
<span class=author>F. Mossiker</span> 
<span class=date>(1790)</span> 
<span class=title>The Queen's Necklace.</span></cite> c/o 
<cite>
<span class=author>ziggyred99</span> <span class=location><A href="http://www.oocities.org/ziggyred99/Torture/jeanne.htm">Jeanne de la Motte</A></span></cite>
</span>
</blockquote>




