
<blockquote>
 Because I foresaw (with some justification) that it would lead to degrading the status of women and of girls. This as we now see has 
 happened and is continuing, so my sex are as a binary class in difficult [sic] now.<BR />
<span class=caption>
<cite>
<span class=author>Baroness Nicholson (@Baroness_Nichol)</span>, 
<span class=title>on being asked by @ItsKateActually why she voted against same sex marriage</span> 
<span class=date>(2020)</span> 
<span class=location>Twitter, 10 Jun 2020, 2.04pm.</span>
</cite>
</span>
</blockquote>




