
<blockquote>
During the worst of the London blitz the authorities tried to prevent the public from using the Tube stations as shelters. The people did not reply by storming the gates, they simply bought themselves penny-halfpenny tickets: thus they had legal status as passengers, and there was no thought of turning them out again.
<br />

<span class=caption>
<cite>
<span class=author>George Orwell</span> 
<span class=date>(1947)</span> 
<span class=location>The English People. Collins, p.9</span>.</cite>
</span>
</blockquote>

