

<div id="container">
<div class=header>
<h1><a href="/index.html" class=headerA>Collections of this Kind</a></h1>
</div>

<div id='menu'>
<p><a href="/pages/about/index.html">About</a></p>
<p><a href="/pages/about/profile.html">Profile</a></p>
<p><a href="/pages/about/confessions.html">On confessions</a></p>
<p><a href="/pages/about/anonymity.html">On anonymity</a></p>
<p>&nbsp;</p>
<div id='order'>
<p>Order&hellip;
<br /><a nohref onclick="byPostdate()" style="cursor: pointer;">&nbsp;by post date</a>
<br /><a nohref onclick="byEditdate()" style="cursor: pointer;">&nbsp;by edit date</a>
<br /><a nohref onclick="byKeydate()" style="cursor: pointer;">&nbsp;by key date</a>
<br /><a nohref onclick="byTheme()" style="cursor: pointer;">&nbsp;by theme</a>
</p>
</div>
<p>&nbsp;</p>
<p><a href="https://twitter.com/CollectionsOTK">Twitter</a></p>
</div>