

<div id="container">
<div class=header>
<h1><a href="/index.html" class=headerA>Collections of this Kind</a></h1>
</div>

<div id='menu'>
<p><a class=editson nohref onclick="showEdits()" style="cursor: pointer;">Show edits</a></p>
<p><a class=editsoff nohref onclick="hideEdits()" style="cursor: pointer;">Hide edits</a></p>
<p><a class=noteson nohref onclick="showNotes()" style="cursor: pointer;">Show notes</a></p>
<p><a class=notesoff nohref onclick="hideNotes()" style="cursor: pointer;">Hide notes</a></p>
</div>