<blockquote>
Thank God there are no free schools or printing&hellip; for learning has brought disobedience and heresy into 
the world, and printing has divulged them&hellip; God keep us from both.<br/>
<span class=caption>
<cite>
<span class=author>Sir William Berkeley, Governor of Virginia</span> 
<span class=date>(d.1677)</span> 
quoted in <span class=author>Neil Postman and Charles Weingartner</span> 
<span class=title>Teaching as a Subversive Activity</span>. 
<span class=location>p.i</span>.
</cite>
</span> 
</blockquote>