
<blockquote>
In 1933, Bankhead nearly died following a five-hour emergency hysterectomy due to venereal disease. Only 70 pounds (32 kg) when she left the hospital, she stoically said to her doctor, 'Don't think this has taught me a lesson...'
<br/>

<span class=caption>
<cite>
<span class=author>Joel Lobenthal</span> 
<span class=date>(2004)</span> 
<span class=location>Tallulah: The Life and Times Of a Leading Lady. HarperCollins</span>.</cite> 
c/o 
<cite><span class=location><A href="https://en.wikipedia.org/wiki/Tallulah_Bankhead">Wikipedia: Tallulah Bankhead</A>
</span>
</cite>
</span>
</blockquote>


