


<blockquote>
So I call my God to witness now:<br />
If great Augustus, ruler of the world,<br />
ever thought to honor me by making me his wife<br />
and granted me dominion over the earth,<br />
it would be dearer to me<br />
and more honorable to be called<br />
not his royal consort but your whore<span class=note>1</span>.
<br />
<span class=caption>
<cite>
<span class=author>Héloïse</span> <span class=date>(c.1090 &ndash; c.1163)<?span>, 
in <span class=author>William Levitan (ed.)</span> 
<span class=location>Abelard &amp; Heloise: The Letters and Other Writings. p.56.</span>
</cite>
</span> 

