
<blockquote>
 His Last Judgement fresco in the Sistine Chapel shows a great interest in various forms of physical love, including those classed as perverted, and also an obsession with nudity which caused Pietro Aretino (of all people) to denounce it in an open letter of 1545 as 'fit for a brothel wall'. When the Pope wanted to destroy the fresco, Michelangelo said: 'The Pope has merely to change the world and I will paint a new one.'<BR />
<span class=caption>
<cite><span class=author>Peter Webb</span> 
<span class=date>(1975)</span> 
<span class=location>The Erotic Arts. Secker & Warburg, p.114</span>.</cite>
</span>
</blockquote>




