<div class=marginalia>
The 1812 Luddite storming of Cartwright's Mill, Rawfolds, near Cleckheaton, England.
</div>
<blockquote>
After the retreat, Cartwright was alleged
to have refused water or aid to the two mortally wounded men,
unless they divulged Luddite secrets. Hammond Roberson is
supposed to have behaved to them more like an inquisitor than a
clergyman. Hundreds thronged the street outside the inn where the
men lay dying. Stains of <I>aqua fortis</I> (perhaps used for
cauterization) were found on their bedding, and it was believed
that they had been tortured to give information. 
Roberson is supposed to have hung over the bedside of one of them, John Booth, the nineteen-year-old son of an Anglican clergyman, waiting for a dying confession. At the moment of death, young Booth signalled to Roberson  &ndash; "Can you keep a secret?" "Yes, yes," replied the eager Roberson, "I  can."<br />"So can I," replied Booth, and shortly after he died.<br />
<span class=caption>
<cite><span class=author>E.P.Thompson</span> 
<span class=date>(1963)</span> 
<span class=location>The Making of the English Working Class. Penguin, 1991 ed., p.614</span>.
</cite>
</span>
</blockquote>



