
<blockquote>
Hence post-war Radicalism was at times less a movement of an organized minority than the response of the whole community. We might note&hellip; the execution of a sailor, Cashman, for his part in an attack upon a gunsmith's
shop after the meeting at Spa Fields on 2 December 1816. Cashman was an Irish fisherman, with 'many years' service in the Naval Wars, in which he had been wounded nine times. By his own account, he was owed by the Admiralty more than five years back pay, as well as a considerable sum in prize money. A sum of &pound;1 a month which he had signed over to his poverty-stricken mother in Ireland had never been paid. At the close of the Wars he had been discharged penniless, and in pursuit of restitution he had been referred from one circumlocution office to the next. On the morning of the riot he had been once again to the Admiralty; on his
return he had met 'a brother sailor, a warrant officer' who had persuaded him to attend the Spa Fields meeting, treating him to spirits and beer on the way. He had little understanding of the purpose of the meeting and, perhaps, not much recollection of its events.
</blockquote>
<blockquote>
The authorities could scarcely have chosen a more popular victim than Cashman, and one more likely to bring out all the sympathies and latent radicalism of the London crowd&hellip; The shabby treatment of the Cashmans contrasted invidiously with the liberal allowances for sinecure-holders and for the relatives of Ministers and commanding officers, with the &pound;400,000 granted to Wellington for the purchase of a mansion and
estate (in addition to other emoluments)&hellip; The execution assumed the character of a great popular demonstration, and the scaffold had to be defended by barricades&hellip; On the scaffold Cashman rejected the ghastly solicitations to confession and repentance of two Anglican clergymen: 'Don't bother me &ndash; it's no use &ndash; I want no mercy but from God.' Then, addressing the crowd, 'Now, you buggers, give me three cheers
when I trip'; and, after telling the executioner to 'let go the jib boom', Cashman 'was cheering at the instant the fatal board fell from beneath his feet', After a few minutes dead silence, the crowd 'renewed the expressions of disgust and indignation towards every person who had taken a part in the dreadful exhibition', with cries of 'Murder' and 'Shame'. It was several hours before the people dispersed.
<br/>
<span class=caption>
<cite><span class=author>E.P.Thompson</span> 
<span class=date>(1963)</span> 
<span class=location>The Making of the English Working Class. Penguin, 1991 ed., p.664</span>.
</cite>
</span>
</blockquote>



