<blockquote>Many racy stories might be told of Mr. Burns. His reply to an offer of a bribe is very characteristic. Speaking in a debate on the payment of members, he evoked both hearty applause and laughter by mentioning that he got a letter offering him fifty pounds if he succeeded in obtaining for the writer a collectorship of taxes, to which he sent the reply - "Sir, you are a scoundrel. I wish you were within reach of my boot."
<br />
<span class=caption>
<cite>
<span class=author>Benjamin Stone</span> 
<span class=date>(1906)</span> 
<span class=location>Sir Benjamin Stone's Pictures. Vol.2, p.47</span>.</cite></span>
</blockquote>
