
<blockquote>
 Although not party political, Cousins was vehemently against Brexit. During the summer he visited Lord's with a pro-Brexit 
 friend. Beforehand they called a truce, declaring that politics would not spoil their day. Despite downing copious quantities of 
 alcohol, the pact held until, just as they were leaving the ground, his friend spotted Jacob Rees-Mogg and made a beeline 
 to shake the pro-Brexit politician's hand. Cousins, who now considered the truce to be shattered, also shook Rees-Mogg's hand, 
 saying in his typically forthright manner: "I think you're a c***."<BR />
<span class=caption>
<cite>
<span class=author>Richard Cousins, chief executive of Compass Group
quoted by Anon</span>,  <span class=date>(2018)</span> 
<span class=title>Obituary</span> 
<span class=location>The Times online, Tuesday January 02 2018</span>.
</cite>
</span>
</blockquote>




