<blockquote>
...Charles van Hulthem, the Brussels librarian who had a large personal collection and allowed no fires in his house. 
In cold weather he kept warm in bed by putting folios on his feet. His favourite for this purpose being Barlaeu's account of Maurice of Nassau's 
expedition to Brazil. He died, we are told, on a pile of books 'like a warrior on the battlefield'.<br />
<span class=caption><cite><span class=author>R.D.Platt</span> <span class=date>(1971)</date> 
Review of <span class=title>Great Libraries</span>, <span class=author>Anthony Hobson</span> 
<span class=location>The Private Library Second Series Vol 4:2 Summer 1971</span></cite></span> 
</blockquote>