
<blockquote>
A vivid example of the generation gap is provided by Robert Morris sr., who at the time of the following statement was chief scientist for the National Computer Security Centre:
The notion that we are raising a generation of children so technically sophisticated that they can outwit the best efforts of the security specialists of America’s largest corporations and the military is utter nonsense. I wish it were true. That would bode well for the technological future of the country.
(Lundell 1989: 11)
In a rather ironic twist of fate, Morris found his assertion to illustrate more than he originally intended. His statement was uttered five years before his own son caused widespread disruption of the Internet when he released in November 1988 a self-replicating program that came to be known as the Internet Worm.
<br />
<span class=caption>
<cite><span class=author>Paul Taylor</span> 
<span class=date>(1999)</span> 
<span class=location>Hackers. Routledge, p.161</span>.</cite>
</span>
</blockquote>



